
/*
  class that is added to anchors
  with a different host
*/
.project-qa-checked-anchor {
    background-color: yellow !important;
    border: 1px solid goldenrod !important;
    color: darkred !important;
}
