
/*
  class that is added to anchors
  with a different host
*/
[data-qa-other-host='true'] {
    background-color: yellow !important;
    border: 1px solid goldenrod !important;
    color: darkred !important;
}
