
/*
  class that is added to anchors
  with a different host
*/
.project-qa-checked-anchor {
    background-color: darkblue !important;
    border: 1px solid blue !important;
    color: white !important;
}
